<?php /* ?>
<!-- Date Picker -->
<link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
<?php */ ?>
<link rel="stylesheet/less" type="text/css" href="<?php echo $appPath;?>/css/default.css"  media="screen" /> 
<link rel="stylesheet" type="text/css" href="<?php echo $appPath;?>/js/bootstrap/css/bootstrap.min.css"  media="screen" /> 
    