<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
	  <ul class="nav navbar-nav">
        <li><a href="#">test</a></li>
		<?php /* ?>
		<li ng-repeat="item in AuthUser.userMenu" class="slide-down ng-hide" ng-show="AuthUser.userMenu.length > 0">
             <a href="{{item.url}}"><i class="fa {{item.ico}}"></i> <span ng-bind="item.name"></span></a>
             <ul ng-class="{'treeview-menu': item.subitems && item.subitems.length > 0}">
                 <li ng-repeat="subitem in item.subitems">
                     <a href="{{subitem.url}}"><i class="fa {{subitem.ico}}"></i> <span ng-bind="subitem.name"></span></a>
                 </li>
             </ul>
        </li>
        <li class="preloader" ng-hide="AuthUser.userMenu">
            <i class="fa fa-spinner fa-pulse fa-fw fa-2x" aria-hidden="true"></i>
        </li>
		<?php */ ?>
      </ul>
</div>