.appPreloader {
    background:transparent url('../assets/img/pagePreloader.svg') no-repeat center bottom;
    width:100%;
    height:100px;
    display:block;
    text-align: center;
    font-size:20px;
    font-family:arial;
    margin:auto;
    position: fixed;
    top:0;
    bottom:0;
  }